:root {
--green: #495E57;
--yellow: #F4CE14;
--orange: #EE9972;
--light-orange: #FBDABB;
--gray: #95a5a6;
--dark-gray: #333333;
--silver-gray: #bdc3c7;
--light-gray: #EDEFEE;
--white: #ffffff;
--red: #c0392b;
}