.btn{
padding: 20px 25px;
font-size: 18px;
font-weight: bold;
text-decoration: none;
border-radius: 10px;
display: inline-block;
text-align: center;
cursor: pointer;
}
.btn--primary{
background-color: var(--yellow);
color: var(--dark-gray);
}
.btn--primary:hover{
    background-color: #ffd400;
}
.btn--secondary{
    color: var(--green);
    border: 1px solid var(--green);
}
.btn--secondary:hover{
    background-color: #eee;
}
.btn:disabled,
.btn--disabled{
    background-color: var(--light-gray);
    opacity: 0.5;
    pointer-events: none;
}